/* Creating the variables that will run through the whole project: */
@media only screen and (min-width: 320px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  body {
    background-image: url("../Images/backgroundImage.jpeg");
    /*background-color: lightsteelblue;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  body #loginBox,
  body #createAccountBox,
  body #welcomeMessageBox,
  body #newJourneyBox,
  body #journeyReportBox,
  body #handleVehicleBox,
  body #chatSupportBox {
    display: block;
    height: 100%;
    background-color: white;
    vertical-align: middle;
    opacity: 0.9;
    border-radius: 10px;
    padding: 0 15px;
    margin: 10% auto;
  }
  body #loginBox input,
  body #createAccountBox input,
  body #welcomeMessageBox input,
  body #newJourneyBox input,
  body #journeyReportBox input,
  body #handleVehicleBox input,
  body #chatSupportBox input {
    margin-top: 10px;
  }
  body #loginBox #arrend,
  body #createAccountBox #arrend,
  body #welcomeMessageBox #arrend,
  body #newJourneyBox #arrend,
  body #journeyReportBox #arrend,
  body #handleVehicleBox #arrend,
  body #chatSupportBox #arrend,
  body #loginBox #notes,
  body #createAccountBox #notes,
  body #welcomeMessageBox #notes,
  body #newJourneyBox #notes,
  body #journeyReportBox #notes,
  body #handleVehicleBox #notes,
  body #chatSupportBox #notes {
    margin-top: 10px;
  }
  body .dropdown {
    text-align: right !important;
  }
  body #accordion button {
    color: black;
  }
  body #accordion .card-body button {
    color: white;
  }
  input#dateToday.form-control {
    color: red;
  }
  #loginProfileImage {
    font-size: 150px;
  }
  #newJourney {
    font-size: 30px;
  }
  #signOut {
    font-size: 20px;
  }
}