/* Creating the variables that will run through the whole project: */
/*@bgimage: "../Images/backgroundImage.jpeg";*/
@media only screen and (min-width: 320px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
  body {
    /*background-image: url(@bgimage);*/
    background-color: lightsteelblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  body #accordion button {
    color: black;
  }
  body #accordion .card-body button {
    color: white;
  }
  body .loginBox input,
  body .createAccountBox input,
  body .newJourneyBox input,
  body .summaryBox input {
    margin-bottom: 10px;
  }
  body .loginBox textarea,
  body .createAccountBox textarea,
  body .newJourneyBox textarea,
  body .summaryBox textarea {
    margin-bottom: 10px;
  }
  body .loginBox h3,
  body .createAccountBox h3,
  body .newJourneyBox h3,
  body .summaryBox h3 {
    margin-top: 60px;
  }
  body .loginBox #loginProfileImage,
  body .createAccountBox #loginProfileImage,
  body .newJourneyBox #loginProfileImage,
  body .summaryBox #loginProfileImage {
    margin-top: 60px;
  }
  input#dateToday.form-control {
    color: red;
  }
  #loginProfileImage {
    font-size: 150px;
  }
  #newJourney {
    font-size: 30px;
  }
  #signOut {
    font-size: 20px;
  }
}