<div class="center-block" id="createAccountBox">
    <br />
    <div class="page-header">
        <br />
        <h1><strong>{{titleCreateAccount}}</strong></h1>
    </div>
    <!-- Form Action ska senare kopplas mot SQL! -->
    <form action="#">
        <div class="form-group">
            <input type="text" class="form-control" id="firstName" placeholder="Förnamn:">
            <input type="text" class="form-control" id="lastName" placeholder="Efternamn:">
            <input type="text" class="form-control" id="mailAddress" placeholder="Mailadress:">
            <input type="text" class="form-control" id="passWord" placeholder="Lösenord:">
            <input type="text" class="form-control" id="passWordAgain" placeholder="Upprepa lösenord:">
            <br />
            <!-- Submit-button that send the data to the database: -->
            <button type="submit" class="btn btn-default"><strong>Godkänn</strong></button>
            <br />
            <br />
        </div>
    </form>
</div>