<div class="page-header">
        <br />
        <h1><strong>{{titleCreateAccount}}</strong></h1>
    </div>
        <form data-ng-submit="createAccount()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Förnamn:" name="firstName" data-ng-model="createAccountData.firstName">
                <input type="text" class="form-control" placeholder="Efternamn:" name="lastName" data-ng-model="createAccountData.lastName">
                <input type="email" class="form-control" placeholder="Mailadress:" name="email" data-ng-model="createAccountData.email">
                <input type="password" class="form-control" placeholder="Lösenord:" name="password" data-ng-model="createAccountData.password">
                <input type="password" class="form-control" placeholder="Upprepa lösenord:" name="confirmPassword" data-ng-model="createAccountData.confirmPassword">
                <br />
                <!-- Submit-button that send the data to the database: -->
                <button type="submit" class="btn btn-default"><strong>Godkänn</strong></button>
                <br />
                <br />
            </div>
        </form>