<div class="center-block" id="journeyReportBox">
    <br />
    <data-ng-include src="'/SPA/Includes/Menu.PartialView.html'">
        Menu.PartialView.html
    </data-ng-include>
    <div class="page-header">
        <br />
        <h3><strong>{{titleJourneyReport}}</strong></h3>
        <!-- Dropdownlista med fordon. -->
        <!-- Datepicker1 -->
        <!-- Datepicker2-->
        <!-- Resultatet på ovan val av fordon och datum ska presentera ett diagram: -->
        <!-- Doughnut-diagram (cirkel) -->
        <!-- 3 olika spam 0-20km (grå färg), 21-50km (blå färg), 51-200km (röd färg). -->
        <!-- Diagrammet ska kunna generera en PDF-fil som ska laddas ner automatisk genom att trycka på "skapa PDF". -->
    </div>
</div>