<div class="center-block" id="loginBox">
    <div class="page-header">
        <br />
        <h1><strong>{{titleLogin}}</strong></h1>
    </div>
    <!-- Form Action ska senare kopplas mot SQL! -->
    <form data-ng-submit="loginForm">
        <div class="form-group">
            <!--    Validering av följande ska skapas: Format av användarnamnet (e-postadress)
                    båda fälten (användarnamn & lösenord) ska var ifyllda för att kunna trycka på "Logga in"
                    en kontroll ska ske i bakgrunden för att se ifall lösenordet är korrekt. -->
            <input type="email" class="form-control" name="email" placeholder="Användarnamn...">
            <!-- Behövs detta felmeddelandet? -->
            <span ng-show="loginForm"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="passWord" placeholder="Lösenord...">
        </div>
        <button type="submit" class="btn btn-default"><strong>Logga in</strong></button>
    </form>
    <br />
    <br />
    <!-- OM DET FINNS TID ÖVER: Länka GLÖMT LÖSENORD till en nya sida som du behöver skapa upp! -->
    <a href="">Glömt lösenord?</a>
    <br />
    <!-- Länka SKAPA NYTT KONTO till en ny sida som du behöver skapa upp! -->
    <a href="Index.html#!/CreateAccount">Skapa nytt konto.</a>
    <br />
    <br />
    <ul class="pager">
        <li><a href="Index.html#!/Summary">Översikt</a></li>
        <li><a href="Index.html#!/NewJourney">Registrera Ny Resa</a></li>
        <li><a href="Index.html#!/Report">Rapport</a></li>
        <li><a href="Index.html#!/ChatSupport">Support</a></li>
        <li><a href="Index.html#!/HandleVehicle">Hantera Fordon</a></li>
        <li><a href="Index.html#!">Logga Ut</a></li>
    </ul>
    <br />
</div>