<div class="loginBox">
    <div class="page-header">
        <br />
        <h1><strong>{{titleLogin}}</strong></h1>
    </div>
    <form data-ng-submit="loginForm(loginData)">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Användarnamn:" data-ng-model="loginData.username" required>
            <input type="password" class="form-control" placeholder="Lösenord:" data-ng-model="loginData.password" required>
            <br />
            <button type="submit" class="btn btn-default"><strong>Logga in</strong></button>
        </div>
    </form>
</div>
    <br />
    <br />
    <a href="">Glömt lösenord?</a>
    <br />
    <a href="Index.html#!/CreateAccount">Skapa nytt konto.</a>
