<div class="page-header">
    <br />
    <h1><strong>{{titleLogin}}</strong></h1>
</div>
    <form data-ng-submit="loginForm(loginData)">
        <div class="form-group">
            <!--    Validering av följande ska skapas: Format av användarnamnet (e-postadress)
            båda fälten (användarnamn & lösenord) ska var ifyllda för att kunna trycka på "Logga in"
            en kontroll ska ske i bakgrunden för att se ifall lösenordet är korrekt. -->
            <input type="email" class="form-control" placeholder="Användarnamn:" data-ng-model="loginData.username">
            <input type="password" class="form-control" placeholder="Lösenord:" data-ng-model="loginData.password">
            <br />
            <button type="submit" class="btn btn-default"><strong>Logga in</strong></button>
        </div>
    </form>
    <br />
    <br />
    <!-- OM DET FINNS TID ÖVER: Länka GLÖMT LÖSENORD till en nya sida som du behöver skapa upp! -->
    <a href="">Glömt lösenord?</a>
    <br />
    <!-- Länka SKAPA NYTT KONTO till en ny sida som du behöver skapa upp! -->
    <a href="Index.html#!/CreateAccount">Skapa nytt konto.</a>
    <br />
    <br />
    <ul class="pager">
        <li><a href="Index.html#!/Summary">Översikt</a></li>
        <li><a href="Index.html#!/NewJourney">Registrera Ny Resa</a></li>
        <li><a href="Index.html#!/Report">Rapport</a></li>
        <li><a href="Index.html#!/ChatSupport">Support</a></li>
        <li><a href="Index.html#!/HandleVehicle">Hantera Fordon</a></li>
        <li><a href="Index.html#!">Logga Ut</a></li>
    </ul>
    <br />