<data-ng-include src="'/SPA/Includes/Menu.PartialView.html'">
    Menu.PartialView.html
</data-ng-include>

<div class="newJourneyBox">
    <div class="page-header">
        <h3><strong>{{titleNewJourney}}</strong></h3>
    </div>
    <form data-ng-submit="newTrip()">
        <div class="form-group">
            <!-- Lista med registreringsnummer över tillgängliga bilar. -->
            <!-- Det fordon man angett som "default" i HandleVehicleView ska visas som första alternativ i dropdown-listan. -->
            <!--<input type="text" class="form-control" id="vehicleRegNumber" placeholder="ABC123" data-ng-model="trip.regNumber" />-->
            <input type="date" class="form-control" id="dateToday" data-ng-model="trip.date">
            <!-- Det ska inte vara möjligt att registrera en ny resa med ett lägre start-km-värde än föregående resas ankomst-km-värde. -->
            <input type="number" class="form-control" id="kmStart" placeholder="Mätarställning start..." data-ng-model="trip.kmStart">
            <input type="number" class="form-control" id="kmStop" placeholder="Mätarställning ankomst..." data-ng-model="trip.kmStop">
            <input type="number" class="form-control" id="kmTotal" placeholder="{{trip.kmStop - trip.kmStart}}" data-ng-model="trip.kmTotal">
            <input type="text" class="form-control" id="startAddress" placeholder="Startadress.." data-ng-model="trip.startAddress" />
            <button class="geoButton pull-right" data-ng-click="getStartLocation()"><span class="glyphicon glyphicon-map-marker"></span></button>
            <input type="text" class="form-control" id="destinationAddress" placeholder="Destinationsadress.." data-ng-model="trip.stopAddress" />
            <button class="geoButton pull-right" data-ng-click="getStopLocation()"><span class="glyphicon glyphicon-map-marker"></span></button>
            <textarea class="form-control" id="arrend" rows="3" placeholder="Ärende..." data-ng-model="trip.arrend"></textarea>
            <textarea class="form-control" id="notes" rows="3" placeholder="Anteckningar..." data-ng-model="trip.notes"></textarea>
        </div>
        <button type="submit" id="newJourneyButton" class="btn btn-default"><strong>Spara</strong></button>
        <br />
        <br />
    </form>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Y7zcrFXRtq6Tt4rExw1GQnanvfAj9Kg">
</script>