<data-ng-include src="'/SPA/Includes/Menu.PartialView.html'">
    Menu.PartialView.html
</data-ng-include>

<div class="newJourneyBox">
    <div class="page-header">
        <h3><strong>{{titleNewJourney}}</strong></h3>
    </div>
    <!-- Form Action ska senare kopplas mot SQL! -->
    <form action="#">
        <div class="form-group">
            <!-- Lista med registreringsnummer över tillgängliga bilar. -->
            <!-- Det fordon man angett som "default" i HandleVehicleView ska visas som första alternativ i dropdown-listan. -->
            <input type="text" class="form-control" id="vehicleRegNumber" placeholder="ABC123" />
            <input type="date" class="form-control" id="dateToday">
            <!-- Det ska inte vara möjligt att registrera en ny resa med ett lägre start-km-värde än föregående resas ankomst-km-värde. -->
            <input type="text" class="form-control" id="kmStart" placeholder="Mätarställning start...">
            <input type="text" class="form-control" id="kmStop" placeholder="Mätarställning ankomst...">
            <!-- kmTotal ska summera kmStart och kmStop per automatik -->
            <input type="text" class="form-control" id="kmTotal" placeholder="Reslängd km...">
            <!-- Startadress, HTML5 Geolocation -->
            <!-- Destinationsadress, HTML5 Geolocation i kombination med Google Maps Reverse Geocoding. -->
            <!-- https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse -->
            <!-- http://www.w3schools.com/html/html5_geolocation.asp -->
            <!-- För att en resa ska räknas som komplett måste alla fällt ha fyllts i, förutom ”Anteckningar”. -->
            <!-- Glyphicon till höger om textfältet ska kunna köra "få tillgång till platsinformation". -->
            <textarea class="form-control" id="arrend" rows="3" placeholder="Ärende..."></textarea>
            <textarea class="form-control" id="notes" rows="3" placeholder="Anteckningar..."></textarea>
        </div>
        <button type="submit" id="newJourneyButton" class="btn btn-default"><strong>Spara</strong></button>
        <br />
        <br />
    </form>
</div>