<data-ng-include src="'/SPA/Includes/Menu.PartialView.html'">
    Menu.PartialView.html
</data-ng-include>

<div class="newJourneyBox">
    <div class="page-header">
        <h3><strong>{{titleNewJourney}}</strong></h3>
    </div>
    <div class="form-group">
        <!-- IN MED LISTAN ÖVER VEHICLE HÄR... -->
        <select class="form-control" name="vehicles" data-ng-model="trip.vehicle" data-ng-options="vehicle.RegNumber for vehicle in vehicles | filter: {Status: 1}"></select>
        <input type="text" class="form-control" placeholder="År-Månad-Dag" id="datePicked" data-ng-model="trip.date" />
        <!--<input type="text" class="form-control" id="datePicked" data-ng-model="trip.date" />--> <!-- Fungerar inte riktigt som den ska... -->
        <!-- Det ska inte vara möjligt att registrera en ny resa med ett lägre start-km-värde än föregående resas ankomst-km-värde. -->
        <input type="number" class="form-control" id="kmStart" placeholder="Mätarställning start..." data-ng-model="trip.kmStart" />
        <input type="number" class="form-control" id="kmStop" placeholder="Mätarställning ankomst..." data-ng-model="trip.kmStop" />
        <input type="number" class="form-control" id="kmTotal" placeholder="{{trip.kmStop - trip.kmStart}}" data-ng-model="trip.kmTotal" />
        <input type="text" class="form-control" placeholder="Startadress.." data-ng-model="trip.startAddress" />
        <button class="geoButton pull-right" data-ng-click="getStartLocation()"><span class="glyphicon glyphicon-map-marker"></span></button>
        <input type="text" class="form-control" id="destinationAddress" placeholder="Destinationsadress.." data-ng-model="trip.stopDestination" />
        <button class="geoButton pull-right" data-ng-click="getStopLocation()"><span class="glyphicon glyphicon-map-marker"></span></button>
        <textarea class="form-control" id="arrend" rows="3" placeholder="Ärende..." data-ng-model="trip.arrend"></textarea>
        <textarea class="form-control" id="notes" rows="3" placeholder="Anteckningar..." data-ng-model="trip.notes"></textarea>
    </div>
        <button type="button" id="newJourneyButton" data-ng-click="newTrip(trip)"class="btn btn-default"><strong>Spara</strong></button>
        <br />
        <br />
</div>

